<!-- Navigation -->
<nav class="orange">
    <div class="nav-wrapper z-depth-3">
        <a href="/" class="brand-logo"><img class="svglogo" src="../static/bird2.svg"></a>
        <a href="#" data-target="mobilemenu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/" alt="home"><i class="material-icons left">home</i>home</a></li>
            <li><a href="/friends" alt="friends"><i class="material-icons left">people</i>friends</a></li>                
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobilemenu">

    <li><a href="/"><i class="material-icons">home</i>home</a></li>
    <li><a href="/friends"><i class="material-icons">people</i>friends</a></li>
</ul>