<!-- Navigation -->
<nav style="background-color: rgb(255, 170, 142)">
    <div class="nav-wrapper z-depth-3">
        <a href="/" class="brand-logo"><img class="svglogo" src="../static/bird2.svg"></a>
        <a href="#" data-target="mobilemenu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/" alt="home"><i class="material-icons left">home</i>home</a></li>
            <li><a href="/friends" alt="friends"><i class="material-icons left">people</i>friends</a></li>                
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobilemenu">

    <li>
        <div class="user-view">
            <div class="background">
                <img src="../../static/CranesOfHopeLogo1-300x198.jpg">
            </div>
        </div>
    </li>
    <div class="divider"></div>
    <li><a href="/"><i class="material-icons">home</i>home</a></li>
    <div class="divider"></div>
    <li><a href="/friends"><i class="material-icons">people</i>friends</a></li>
    <div class="divider"></div>
</ul>