* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: white;
	font-family: Roboto, Helvetica, sans-serif;
	font-size: 25px;
	color: #333;
	line-height: 1.6;
}

.container {
	margin: 1rem auto;
	overflow: auto;
	padding: 0 2rem;
}

nav li {
	color: black;
}


/* landing page image grid  */

.imggrid {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 3px;
	background-color: white;
	padding-bottom: 20px;
}

.imggrid > div {
	height: 150px;
	background-attachment: fixed;
}


.imggrid > div:nth-of-type(1) {
	grid-column: 1/3;
}

.imggrid > div:nth-of-type(9) {
	grid-column: 4/6;
}

.imggrid > div:nth-of-type(19) {
	grid-column: 3/5;
}


.bg1 {
	background: left url('../static/floatingcranes.jpg');
	background-size: cover;
	background-position: right;
}

.bg2 {
	background: url('../static/bigcranecar.jpg');
	background-size: cover;
	background-position: 55% 45%;
}

ul.collection, ul.collection li.collection-item {
	border: none;
}

a.brand-logo {
	padding-left: 20px;
	padding-top: 5px;
}


.svglogo {
	height: 50px;
}

