{% extends 'base.html' %}

{% block body %}

<div class="container">

    <div class="slider friends hoverable">
        <ul class="slides">
            <li>
                <img src="../static/friends/IMAG0003.jpg" alt="">
                <div class="caption center-align">GIF
                    <h3>Image description goes here...</h3>
                    <h5 class="light grey-text text-lighten-3">More description goes here...</h5>
                </div>
            </li>
            <li>
                <img src="../static/friends/IMAG0020.jpg" alt="">
                <div class="caption left-align">
                    <h3>Image description goes here...</h3>
                    <h5 class="light grey-text text-lighten-3">More description goes here...</h5>
                </div>
            </li>
            <li>
                <img src="../static/friends/IMAG0034.jpg" alt="">
                <div class="caption right-align">
                    <h3>Image description goes here...</h3>
                    <h5 class="light grey-text text-lighten-3">More description goes here...</h5>
                </div>
            </li>
            <li>
                <img src="../static/friends/IMAG0037.jpg" alt="">
                <div class="caption center-align">
                    <h3>Image description goes here...</h3>
                    <h5 class="light grey-text text-lighten-3">More description goes here...</h5>
                </div>
            </li>
        </ul>
    </div>

    <div class="row" style="padding-top: 50px;">
        <div class="col s12">
            <div class="card white z-depth-1">
                <div class="card-content black-text">
                    <p>I wanted to thank the nice people I have met over the years who have left me some very encouraging comments.</p>
                </div>
            </div>
        </div>
    </div>


    <!-- comment begin -->
    <div class="divider"></div>
    <div class="section comment">
        <div class="row info">
            <span><strong>Sarah Hall</strong></span> 
            <span class="badge">October 21, 2013</span>
        </div>
        <div class="row quote">
            <p>I love your new website, it is beautiful. I am so proud of how far you have come since I first became your friend. Thank you for being the beautiful and caring young lady that you are. I have no doubt that you will achieve your dream of going global!</p>
        </div>
    </div>
    <!-- comment end -->
    
    <!-- comment begin -->
    <div class="divider"></div>
    <div class="section comment">
        <div class="row info">
            <span><strong>Babz Covington</strong></span> 
            <span class="badge">November 3, 2013</span>
        </div>
        <div class="row quote">
            <p>I love it over here! it is coming along swimmingly. i so look forward to your posts. thank you for being you. just the young person you are, the heart you have, gives me hope.</p>
        </div>
    </div>
    <!-- comment end -->

    <!-- comment begin -->
    <div class="divider"></div>
    <div class="section comment">
        <div class="row info">
            <span><strong>ed elliott</strong></span> 
            <span class="badge">November 6, 2013</span>
        </div>
        <div class="row quote">
            <p>Niasha,</p>

            <p>is a very good start on your website and I think it’s great. I’m always amazed at the wonderful work you’re doing and how you are able to fit all of this in with your schoolwork. Great job!</p>
        </div>
    </div>
    <!-- comment end -->

    <!-- comment begin -->
    <div class="divider"></div>
    <div class="section comment">
        <div class="row info">
            <span><strong>Sarah Hall</strong></span> 
            <span class="badge">January 5, 2014</span>
        </div>
        <div class="row quote">
            <p>I just found the last of my origami paper, I promise I will get started folding this week. I want to help out more this year.</p>
        </div>
    </div>
    <!-- comment end -->

    <!-- comment begin -->
    <div class="divider"></div>
    <div class="section comment">
        <div class="row info">
            <span><strong>Nancy Rhodes</strong></span> 
            <span class="badge">April 30, 2015</span>
        </div>
        <div class="row quote">
            <p>Thank You for the inspirational cranes. I have to go through the basket and read the inspirational quotes. They brighten my treatment. I’ve been “been infected with the Hope Pox”.</p>
        </div>
    </div>
    <!-- comment end -->


</div>


{% endblock %}